wp-config.php

wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/backup-db/

bot-barvin/node_modules/
bot-barvin/.env
bot-barvin/npm-debug.log

.idea/

.DS_Store
*.log

wp-content/ai1wm-backups/
*.wpress