
.authorization{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    background: rgba(0,0,0,.6);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: all .4s ease-in-out;
}

.authorization.active{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.authorization__body{
    display: none;
}

.authorization__body.active{
    display: block;
}

.authorization .authorization__box_login{
    max-height: 90%;
}

.quiz .quiz__body .body .body__form form label .quiz__upload{
    position: relative;
}

.quiz .quiz__body .body .body__form form label .quiz__upload .quiz__uploud_file::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.blocked.form-group{
    opacity: .2;
    pointer-events: none;
}

.blocked.form-group input{
    pointer-events: none;
    cursor: unset;
}
.quiz .quiz__body .body .body__form form label.blocked .quiz__upload{
    cursor: unset;
}

label.blocked  {
    opacity: .2;
    position: relative;

}
label.blocked input{
    pointer-events: none;
    cursor: unset;
}

.book__block{
    background-size: contain;
}

.maincart .cart .cart__union .cart__orders .orders .orders__table .table .table__body .table__union .table__total::before{
	content: '$';
    font-size:16px;
}

.maincart .cart .cart__union .cart__orders .orders .orders__table .table .table__body .table__union .table__price::before{
	content: '$';
    font-size:16px;
}

.radio{
	display:flex;
    align-items:center;
    flex-direction: row-reverse !important;
    justify-content: flex-end;
}

.radio input{
	width:15px !important;
    height:15px !important;
    margin-bottom:0 !important;
    margin-right:10px;
}
.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}
